<!DOCTYPE html>
<html>
<head>
    <style>
        .govde{
          /* height: 25rem;  */
          position: absolute;
            top: 30%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .error-middle{
            position: absolute;
            top: 55%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .button{
            position: absolute;
            top: 65%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
      </style>
</head>

<body>
<div > </div>
<div class = "govde"> <i class="fa-solid fa-ban fa-10x" ></i></div>
<div class="error-middle">
	<h1>Error 401 - Unauthorized</h1>
	<p>The 401 (Unauthorized) status code indicates that the request has not been applied because it lacks valid authentication credentials for the target resource. The server generating a 401 response MUST send a WWW-Authenticate header field (Section 4.1) containing at least one challenge applicable to the target resource.</p>
</div>
<div>
    <a href="/users/login" class="btn btn-primary btn-block mb-2 button"> Go To Home Page</a></div>
</body>
</html>